*.c linguist-language=C
*.py linguist-language=Python
*.md linguist-language=false
*.stl linguist-detectable=false
*.step linguist-detectable=false
*.HEIC linguist-detectable=false
*.jpg linguist-detectable=false
*.png linguist-detectable=false
*.1 linguist-detectable=false


